{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer proyecto Django</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <h1>Hola</h1>
<br>
<p>Hola como andamios yo muy bien tu que</p>

<hr>
<ul>
{% for i in objeto %}

<li><a href="autor/{{i.id}}">{{i.nombre}}</a></li> 
<ul>
{%for u in i.profesion.all%}
<li>{{u.nombre}}</li>
{% endfor %}
</ul>

{% endfor%}  



    <script src="{% static 'script.js'%}"></script>
    
</body>
</html>